name: Tests
on:
  pull_request:
    branches: [ main, master ]
  push:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BUILD_TYPE: ${{matrix.buildtypes}}
    strategy:  
      matrix:
        buildtypes: [Debug, Release]
    steps:
    - uses: actions/checkout@v3

    - name: Setup Build Dependencies
      run: |
        sudo apt-get update
        sudo apt-get -y install \
          cmake \
          ninja-build \
          gcc-13 \
          g++-13 \
          lcov \
          ${NULL+}

    - name: Setup gcovr
      run: pip install gcovr

    - name: Configure CMake        
      run: cmake -B ${{github.workspace}}/build -DCMAKE_C_COMPILER=gcc-13 -DCMAKE_CXX_COMPILER=g++-13 -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -G Ninja -DGDM_BUILD_TESTS=ON

    - name: Build tests
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Run tests
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{env.BUILD_TYPE}}
    
    - name: Create Coverage report
      run: |
        cd build
        gcovr -r .. --xml

    - name: Upload Report to Codecov
      uses: codecov/codecov-action@v3
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with:
        files: ./coverage.xml
        fail_ci_if_error: true
        functionalities: fix
